<div class="container">
  <h3>Users</h3>
  <table class='table'>
    <tr>
      <th>ID</th>
      <th>Firstame</th>
      <th>Lastname</th>
      <th>TLF</th>
      <th>Email</th>
      <th></th>
    </tr>


    <% _.each(coaches, function(coach) { %>
    <tr data-id="<%= coach.id %>" data-model="coach">
      <td><%= coach.id %></td>
      <td><%= coach.firstname %></td>
      <td><%= coach.lastname %></td>
      <td><%= coach.tlf %></td>
      <td><%= coach.email %></td>
      <td><a href="/coach/show/<%= coach.id %>" class="btn btn-sm btn-primary">Vis</a></td>
      <td><a href="/coach/edit/<%= coach.id %>" class="btn btn-sm btn-warning">Endre</a></td>

      <td><form action="/coach/destroy/<%= coach.id %>" method="POST">
          <input type="hidden" name="_method" value="delete"/>
          <input type="submit" class="btn btn-sm btn-danger" value="Delete"/>
          <input type="hidden" name="_csrf" value="<%= _csrf %>" />
        </form>
    </tr>

    <% }) %>
  </table>
</div>
